Repository PLAYG0N/mkdocs-panzoom: changes, and which pre-commit hooks are due for each by the changed paths.
All: pytest, pylint, toml-syntax-check, cfn-type-quoting-convention, cfn-resource-naming-convention, cfn-tag-validation, remove-mit0-headers, fix-mkdocs-top-anchors, kube-linter

Path conditions:
  pytest: any of: ^tests\/.*test_.*\.py$ and \.py$
  pylint: any of: \.py$, but not: ^(scripts/pre-commit-hooks/|slurm-lifecycle-scripts/utils/)
  toml-syntax-check: any of: \.toml$
  cfn-type-quoting-convention: any of: ^deploy/cloud-formation/.*\.ya?ml$
  cfn-resource-naming-convention: any of: ^deploy/cloud-formation/.*\.(yaml|yml)$
  cfn-tag-validation: any of: ^deploy/cloud-formation/.*\.(yaml|yml)$
  remove-mit0-headers: any of: \.(py|sh)$|^[^.]*$
  fix-mkdocs-top-anchors: any of: ^docs/.*\.md$
  kube-linter: any of: ^deploy/kubernetes/.*\.ya?ml$ and \.(yaml|yml)$

minimum Python version >=3.10
  .github/workflows/mkdocs-pages.yml
  .github/workflows/publish-to-pypi.yml
  pyproject.toml
  setup.py
Due: pylint, toml-syntax-check, remove-mit0-headers

wip performance optimization
  .gitignore
  hooks/performance_debug.py
  mkdocs.yml
  mkdocs_panzoom_plugin/panzoom_box.py
  todo.md
Due: pylint, remove-mit0-headers

cleanup
  .gitignore
  todo.md
Due: none

revert class
  mkdocs_panzoom_plugin/panzoom_box.py
Due: pylint, remove-mit0-headers

Fix pre-commit checks: TOML formatting, mypy config, and markdown lint
  .codespellrc
  .pre-commit-config.yaml
  README.md
  docs/D2/assets/diagram.d2
  docs/Mermaid/excluded.md
  docs/images/largeimage.md
  docs/index.md
  mkdocs_panzoom_plugin/__init__.py
  mkdocs_panzoom_plugin/exclude.py
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/panzoom_box.py
  mkdocs_panzoom_plugin/plugin.py
  pyproject.toml
  setup.py
  tests/test_plugin.py
Due: pytest, pylint, toml-syntax-check, remove-mit0-headers, fix-mkdocs-top-anchors

feat: ensure d2 is installed for contributors
  scripts/contributor_setup.sh
Due: remove-mit0-headers

Fix: Make zoom step consistent across all zoom methods
  mkdocs_panzoom_plugin/custom/zoompan.js
Due: none

Fix: Match button zoom behavior with keyboard zoom
  mkdocs_panzoom_plugin/custom/zoompan.js
Due: none

Fix zoom step consistency between buttons and keyboard
  mkdocs_panzoom_plugin/custom/zoompan.js
Due: none

Fix: Make zoom operations mathematically symmetric for consistent behavior
  mkdocs_panzoom_plugin/custom/zoompan.js
Due: none

Fix: Apply symmetric zoom to keyboard controls
  mkdocs_panzoom_plugin/custom/zoompan.js
Due: none

Reduce default zoom_step from 0.3 to 0.2 for smaller zoom increments
  README.md
  docs/index.md
  mkdocs_panzoom_plugin/custom/zoompan.js
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/plugin.py
Due: pylint, remove-mit0-headers, fix-mkdocs-top-anchors

update also the README.md with new add zoom ratio
  README.md
Due: none

fix: resolve merge conflicts and critical bugs in panzoom_box.py
  mkdocs_panzoom_plugin/panzoom_box.py
Due: pylint, remove-mit0-headers

feat: enhance plugin.py with comprehensive improvements
  mkdocs_panzoom_plugin/plugin.py
Due: pylint, remove-mit0-headers

feat: enhance html_page.py with type safety, error handling, and bug fixes
  mkdocs_panzoom_plugin/html_page.py
Due: pylint, remove-mit0-headers

refactor: remove requirements.txt and modernize to use uv workflow
  .github/workflows/mkdocs-pages.yml
  requirements.txt
  scripts/contributor_setup.sh
Due: remove-mit0-headers

refactor: remove redundant setup.py and fix wheel build duplicates
  pyproject.toml
  setup.py
Due: pylint, toml-syntax-check, remove-mit0-headers

docs: enhance CONTRIBUTING.md and remove debug hook (net -442 lines)
  CONTRIBUTING.md
  hooks/performance_debug.py
  mkdocs.yml
Due: pylint, remove-mit0-headers

fix: restore zoom buttons and improve button styling in panzoom interface
  mkdocs.yml
  mkdocs_panzoom_plugin/custom/panzoom.css
  mkdocs_panzoom_plugin/html_page.py
Due: pylint, remove-mit0-headers

feat: add comprehensive test suite, CI/CD, and fix hint button bug
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  Makefile
  mkdocs_panzoom_plugin/custom/zoompan.js
  mkdocs_panzoom_plugin/plugin.py
  tests/test_exclude.py
  tests/test_html_page.py
  tests/test_panzoom_box.py
  tests/test_plugin.py
Due: pytest, pylint, remove-mit0-headers

feat: add comprehensive test suite, CI/CD, and fix hint button bug
  mkdocs_panzoom_plugin/custom/zoompan.js
  tests/test_hint_button_bug.py
  tests/test_panzoom_box.py
Due: pytest, pylint, remove-mit0-headers

Fix buttons positioning and z-index issues
  .gitignore
  BUTTON_FIX_SUMMARY.md
  debug_problem.py
  mkdocs.yml
  mkdocs_panzoom_plugin/custom/panzoom.css
  mkdocs_panzoom_plugin/custom/zoompan.js
  mkdocs_panzoom_plugin/panzoom_box.py
  test_always_hint_bug.py
  test_fix_verification.py
  test_positioning_fix.py
  tests/test_hint_button_bug.py
  tests/test_hint_button_fix.py
  tests/test_panzoom_box.py
Due: pytest, pylint, remove-mit0-headers

wip
  .gitignore
  mkdocs_panzoom_plugin/markdown_extension.py
Due: pylint, remove-mit0-headers

bump version
  setup.py
Due: pylint, remove-mit0-headers

add templates
  mkdocs_panzoom_plugin/templates.html
Due: none

add regex version
  mkdocs.yml
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/markdown_extension.py
  mkdocs_panzoom_plugin/panzoom_box.py
  mkdocs_panzoom_plugin/plugin.py
Due: pylint, remove-mit0-headers

remove treeprocessor
  mkdocs_panzoom_plugin/markdown_extension.py
Due: pylint, remove-mit0-headers

pass config to md_extension
  mkdocs.yml
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/markdown_extension.py
  mkdocs_panzoom_plugin/plugin.py
Due: pylint, remove-mit0-headers

remove old imports
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/panzoom_box.py
Due: pylint, remove-mit0-headers

comment out old code
  mkdocs_panzoom_plugin/html_page.py
Due: pylint, remove-mit0-headers

remove import
  mkdocs_panzoom_plugin/plugin.py
Due: pylint, remove-mit0-headers

remove print
  mkdocs_panzoom_plugin/markdown_extension.py
Due: pylint, remove-mit0-headers

pre
  setup.py
Due: pylint, remove-mit0-headers

backport initial zoom and localstorage support
  README.md
  docs/index.md
  mkdocs_panzoom_plugin/custom/zoompan.js
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/markdown_extension.py
  mkdocs_panzoom_plugin/panzoom_box.py
  mkdocs_panzoom_plugin/plugin.py
Due: pylint, remove-mit0-headers, fix-mkdocs-top-anchors

remove old code
  mkdocs_panzoom_plugin/html_page.py
  mkdocs_panzoom_plugin/panzoom_box.py
Due: pylint, remove-mit0-headers

fix nav placement
  mkdocs_panzoom_plugin/custom/panzoom.css
  mkdocs_panzoom_plugin/custom/zoompan.js
  mkdocs_panzoom_plugin/panzoom_box.py
Due: pylint, remove-mit0-headers

remove dependency
  setup.py
Due: pylint, remove-mit0-headers
